:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Sen", sans-serif;
  --primary-color: #171100;
  --secondary-color: #5f5b53;
  --bg-btn-color: #ffb900;
  --hero-bg-color: #fffcf4;
  --testimonial-bg-color: #2e2100;
}
